header{
    background-color: aqua;
    nav{
        ul{
            li{
                list-style-type: none;
                &:hover{
                    text-decoration: overline;

                }
            }
        }
    }
}
 
